---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TopNavigationBar from '../components/Nav.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
        <TopNavigationBar />
		<h1 class="text-gradient">你喜欢的演员都在这</h1>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>本地图片示例</title>
			<style>
			  body {
				margin: 0;
				padding: 20px;
				font-family: Arial, sans-serif;
				background-color: #f4f4f4;
			  }
		  
			  .image-container {
				max-width: 100%; /* 最大宽度为页面宽度 */
				margin: 0 auto; /* 居中显示 */
			  }
		  
			  .responsive-image {
				width:100%; /* 设置图片宽度为容器宽度的50%，可自行调整 */
				/* 使用max-width确保图片在小屏幕上也能正确显示 */
				max-width: 100%;
				height: auto; /* 保持图片宽高比 */
			  }
			</style>
		  </head>
		  <body>
			<!-- 图片容器，用于包含图片 -->
			<div class="image-container">
			  <!-- 插入本地图片 -->
			  <!-- 请确保图片路径正确，且图片与HTML文件位于同一目录下 -->
			  <img src="/public/81.png" alt="本地图片描述" class="responsive-image">
			</div>
		  </body>
			
		<p class="instructions">
			各个高颜值、精湛演技、各大题材热播剧，重生、穿越、甜宠偶像演员你喜欢的这里都有。
		</p>
		<ul role="list" class="link-card-grid">
			<p class="instructions">
				孙樾，原名孙越，1997年1月29日出生于陕西省西安市，毕业于浙江传媒学院 [5]，中国内地男演员。
				<!-- 文本结尾插入网址图片 -->
				<img src="http://img0.baidu.com/it/u=2949508908,1080641005&fm=253&app=138&f=JPEG?w=800&h=1266" 
					 alt="孙越" 
					 style="width: 100%; max-width: 300px; height: auto; margin-top: 1em;">
			<div class="link-container">
				<p><a href="https://www.bilibili.com/video/BV1gx421k7qf?t=2.4" target="_blank">《季总您的马甲叒掉了》</a></p>
				<p><a href="https://www.bilibili.com/video/BV1r84y1R7s3?t=1.5" target="_blank">《分手八年后，我和前男友闪婚了》</a></p>
				<p><a href="https://www.bilibili.com/video/BV1uZ421y7b4?t=1.6" target="_blank">《穆总的天价新娘》</a></p>
			 <!-- 本地视频播放，设置为自动播放 -->
			 <video controls width="100%" height="auto" poster="/path-to-poster.jpg" autoplay muted>
				<source src="/public/21.mp4" type="video/mp4">
				<source src="/public/21.webm" type="video/webm">
				Your browser does not support the video tag.
			</video> </div>
			  <p class="instructions">
				申浩男，汉族，中国内地男演员。曾经在剧能玩的真人漫画《校草室友有剧毒》中饰演男主角杨希。
				<!-- 文本结尾插入网址图片 -->
					<img src="https://p1.meituan.net/movie/38ef4e6c0b1974300039bc293aab7047113287.jpg@464w_644h_1e_1c"
					 alt="申浩男" 
					 style="width: 100%; max-width: 400px; height: 320px; margin-top: 2em;">
			<div class="link-container">
				<p><a href="https://www.bilibili.com/video/BV1u2guefEj6?t=2.8" target="_blank">《玫瑰冠冕》</a></p>
				<p><a href="https://www.bilibili.com/video/BV17C4y1T7Q2?t=13.8" target="_blank">《苏小姐请留步》</a></p>
				<p><a href="https://www.bilibili.com/video/BV1694y1E7mz?t=3.9" target="_blank">《你是我的万千星辰》</a></p>
			 		 <!-- 本地视频播放，设置为自动播放 -->
					  <video controls width="100%" height="auto" poster="/path-to-poster.jpg" autoplay muted>
						<source src="/public/62.mp4" type="video/mp4">
						<source src="/public/62.webm" type="video/webm">
						Your browser does not support the video tag.
					</video> </div> </div>
			
            <Card
				href="https://www.bilibili.com/video/BV1KM41117VT?t=8.6"
				title="更多他们❤️"
				body="刘润铭，2022年，主演《戏精女主桃花多》，网剧《我愿林深能见鹿》、《亲爱的司丞大人》饰演国师。 2023年，主演短剧《长殊行》，参演《藏药令》。何健麒。2023年6月因主演网络剧《倾城娇妻别招惹我》中饰演男一号秦允之一角从而进入演艺圈。同年在网络剧《当替身我月薪百万》饰演男主角江卓而崭露头角，先后又担任男一号拍摄了《繁花如梦》《落花时节又逢君》《潜龙在渊》《土匪皇后》《夏阳的轮回》"
			/>
			<p class="instructions">
				徐艺真，出生于1998年1月23日，166 cm，水瓶座，中国内地女演员、制片人 ，毕业于浙江传媒学院。
				<!-- 文本结尾插入网址图片 -->
					<img src="https://hfa.cuz.edu.cn/__local/E/BE/E6/9CF51782739DE528DDC545E3CE0_A5281902_6F872.jpg"
					 alt="徐艺真" 
					 style="width: 100%; max-width: 400px; height: 320px; margin-top: 2em;">
			<div class="link-container">
				<p><a href="https://www.bilibili.com/video/BV1fb4y1M7KG?t=22.1" target="_blank">《你是天堂也是地狱》</a></p>
				<p><a href="https://www.bilibili.com/video/BV1kJ4m177ZD?t=2.4" target="_blank">《哎呀，皇后娘娘来打工》</a></p>
				<p><a href="https://www.bilibili.com/video/BV1Wg4y1R77x?t=2.3" target="_blank">《重生后被渣男死对头宠上天》</a></p>
			 		 <!-- 本地视频播放，设置为自动播放 -->
					  <video controls width="100%" height="auto" poster="/path-to-poster.jpg" autoplay muted>
						<source src="/public/93.mp4" type="video/mp4">
						<source src="/public/93.webm" type="video/webm">
						Your browser does not support the video tag.
					</video> </div> </div>
					<p class="instructions">
						王格格，中国内地女演员，1997年6月11日生。代表作品有《河神的新娘》。截至2024年5月24日，抖音平台66.1万粉丝，516.8万获赞。
						<!-- 文本结尾插入网址图片 -->
							<img src="https://ww1.sinaimg.cn/mw690/006fcIbily1hqbay8nkizj30u01907b5.jpg"
							 alt="王格格" 
							 style="width: 100%; max-width: 400px; height: 320px; margin-top: 2em;">
					<div class="link-container">
						<p><a href="https://www.bilibili.com/video/BV1Q94y1F7do?t=1.7" target="_blank">《脱缰 》</a></p>
						<p><a href="https://www.bilibili.com/video/BV1cJ4m13715?t=9.8" target="_blank">《厉总的落跑娇妻不好追》</a></p>
						<p><a href="https://www.bilibili.com/video/BV1NQ4y1j7a5?t=1.6" target="_blank">《顾总，太太又把您拉黑了》</a></p>
							  <!-- 本地视频播放，设置为自动播放 -->
							  <video controls width="100%" height="auto" poster="/path-to-poster.jpg" autoplay muted>
								<source src="/public/94.mp4" type="video/mp4">
								<source src="/public/94.webm" type="video/webm">
								Your browser does not support the video tag.
							</video> </div> </div>
			<ul role="list" class="link-card-grid">
			<Card
				href="https://www.bilibili.com/video/BV1xz421Q72Q?t=99.2"
				title="更多她们❤️"
				body="孟娜。热门短剧《偏爱王牌千金》《他以痛吻我》《顾总，太太又把你拉黑了》《哎呀，女帝大人驾到》《遇见你的星期八》《这么多年，爱你成瘾亦成罪》《婚后被大佬惯坏了》;马秋元2022年，初次踏入短剧拍摄的马秋元在系列短剧《小魔女秋元》中担任女主秋元，元气活泼的少女感出演。2023年2月，出演《回到古代当太子》中高丽公主金雪熙一角；同年4月，出演《世间万物不及你》女主角方可欣。参演作品还有《偏偏宠爱》《极品假太监》《离婚后郁总乖乖受虐》《替嫁承欢王爷毒妃不好惹》《倾世弃妃》等"
			/>
			
			
			
			<Card
				href=""
				title="联系我们"
				body="关于以上全部网页有任何意见与建议都可以联系我们！感谢您的支持 ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	  /* 添加样式 */
	  .image-container {
            /* 定位图片容器，可以根据需要调整 */
            position: relative;
            width: 100%; /* 容器宽度 */
            max-width: 800px; /* 最大宽度 */
            margin: 0 auto; /* 水平居中 */
        }

        .image-container img {
            width: 100%; /* 图片宽度 */
            height: auto; /* 自动高度，保持宽高比 */
            object-fit: cover; /* 裁剪或填充图片以适应容器 */
        }

        /* 如果需要添加边框或阴影等样式 */
        .image-container img {
            border: 2px solid #ccc; /* 边框 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
        }
	 /* 短剧类别样式 */
	 .drama-categories {
        background-color: rgba(50, 17, 17, 0.1); /* 轻微的背景颜色 */
        border-radius: 0.5px; /* 圆角边框 */
        padding: 0.5rem;
        margin-bottom: 0.5rem; /* 与下方内容的边距 */
    }

    .category-list {
        list-style-type: none; /* 移除列表项默认的标记 */
        padding: 0;
    }

    .category-list li {
        display: inline; /* 内联显示列表项 */
        margin-right: 10px; /* 列表项之间的间隔 */
    }

    .category-list li a {
        text-decoration: none; /* 移除下划线 */
        color: white; /* 文字颜色 */
        font-weight: 500; /* 字体加粗 */
        transition: color 0.3s; /* 颜色变化的过渡效果 */
    }

    .category-list li a:hover {
        color: #007bff; /* 鼠标悬浮时的文字颜色 */
    }

    /* 其他样式... */
	  /* 全局样式重置 */
	  body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        /* 背景图像设置 */
        body {
            background-image: url('/public/1.jpg'); /* 替换为你的背景图像路径 */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed; /* 背景图像固定，不随页面滚动 */
            min-height: 260vh; /* 确保背景至少覆盖整个视口高度 */
            font-family: Arial, sans-serif;
            color: #fff;
        }

        /* ... 其他样式 ... */
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
