---
import StuCard from "../components/StuCard.astro";
---

<StuCard name="小丽" number="P211012515" major="计算机">
    <p>情书</p>
</StuCard>
<StuCard name="小丽" number="P211012515" major="计算机">  
    
</StuCard>