<a href="/">首页</a>
<a href="/books/">推荐</a>
<a href="/about/">题材</a>
<a href="/note/">演员</a>

<style>
    a{
        color: white;
        text-decoration: none;
        margin-right: 4em;
    }
	

</style>